<footer>
    <div class="container">
        <!--<div class="row-fluid vmargin">
            <div class="span4">
                {{ widgets:area slug="footer-col1" }}

            </div>
            <div class="span4">
                {{ widgets:area slug="footer-col2" }}
            </div>
            <div class="span4">
                {{ widgets:area slug="footer-col3" }}
            </div>

        </div>-->
        <div id="copyright">
            <p>All rights reserved © 2015 <a class="text-glow" href="http://localhost/getaride"><strong><span>&nbsp;&nbsp;Get A Ride&nbsp;&nbsp;</span></strong></a>Developed by Vinmay and Rishi<p>
        </div>
        <!--<div id="bottom-social">
            <a class="social-network facebook" href="http://www.example.com" target="_blank" rel="nofollow"></a>
            <a class="social-network twitter" href="http://www.example.com" target="_blank" rel="nofollow"></a>
            <a class="social-network dribbble" href="http://www.example.com" target="_blank" rel="nofollow"></a>
            <a class="social-network pinterest" href="http://www.example.com" target="_blank" rel="nofollow"></a>
            <a class="social-network deviantart" href="http://www.example.com" target="_blank" rel="nofollow"></a>
            <a class="social-network lastfm" href="http://www.example.com" target="_blank" rel="nofollow"></a>

        </div>-->
    </div>

</footer>
